body{
  margin: 0;
}

.overlay{
  background-color: rgba(54, 54, 54, 0.416);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  padding: 50px;
  min-width: 40%;
  width: 50%;
  background-color: white;
}
nav{
  display: flex;
  background-color: rgb(41, 40, 40);
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  align-items: center;
}
nav p{
  padding: 0 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: white;
}
.navbar-item{
  height: 100%;
  background-color: transparent;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: rgb(179, 177, 177);
  width: 100px;
}
.navbar-item:hover{
  background-color: rgb(212, 212, 212);
  color: black;
}
section{
  padding: 10px 20px;
}
.dashboard{
  background-color: rgb(110, 110, 110);
  height: 100vh;
  position: relative;
}
.dashboard-container{
  height: calc(100vh -50px);
}
.category-overlay{
  z-index: 1;
}

/* TASKS */
.task-dashboard{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 50px);
}
.add-tasks-button{
  height: 30px;
  cursor: pointer;
}
.task-item{
  display: flex;
  background-color: aliceblue;
  cursor: pointer;
  padding: 0 10px;
  height: 50px;
  justify-content: space-between;
  text-align: center;
}
.task-item:not(.tasks-list-header):hover{
  background-color: antiquewhite;
}
.task-list-container{
  overflow-y: auto;
}
.expired{
  background-color: gray;
}
.completed{
  background-color: green;
}
.incoming{
  background-color: gainsboro;
}
.tasks-list-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor:default;
  border-bottom: 1px solid rgba(128, 128, 128, 0.536);
}
.show-task-wrapper{
  display: flex;
  flex-direction: column;
}
.show-task-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
}
.task-details-container{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: 80vh;
  min-height: 50vh;

}
.task-details-button{
  height: 40px;
  margin: 0 5px;
  min-width: 120px;
  max-width: 150px;
  border: 1px rgba(88, 88, 88, 0.504) solid;
  border-radius: 5px;
  cursor: pointer;

}
.task-category-wrapper h3{
  margin: 0;
}
.task-details-name{
  margin: 20px;
}
.task-details-category{

}
.task-details-description{
  margin: 0 20px;
}

.save{
  background-color: rgb(4, 195, 4);
}
.red{
  background:rgb(189, 78, 41);
}
.edit{
  background-color: rgb(23, 149, 227);
}
.task-category{
  display: flex;
}
.material-symbols-outlined{
  display: flex;
  align-items: center;
}